In [1]:
#nilai variable a,b,c, dan d diinsialisasi dengan nilai masing - masing 10,5,13 dan 0.
a = 10
b = 5
c = 13
d = 0
#fungsi print digunakan untuk mencetak string yang terdiri dari empat nilai variable dan tiga operator matematika.
print(a,'*', b, '+', c, '-', d, '=', a * b + c - d)

10 * 5 + 13 - 0 = 63

In [2]:
#fungsi print menampilkan teks "Joko dan Joni pada konsol dan format string '{}' dan '{}' akan diisi dengan nilai 'Joko' dan 'Joni' pada urutan pertama dan kedua.
print('{} dan {}'.format('Joko', 'Joni'))
#format string menggunakan indeks untuk menentukan urutan pengisian nilai pada string format.'{1}' akan diisi dengan nilai 'Joni' pada urutan pertama dan '{0}' akan diisi nilai 'Joko' pada urutan kedua.
print('{1} dan {0}'.format('Joko', 'Joni'))

Joko dan Joni
Joni dan Joko

In [3]:
print("gita : Hello mama", end)
print("mama : Hello dear", end)
print("mama : How are you", end ="?")
print("gita : Iam fine mama", end)
print("gita : How abou you", end ="?")
print("mama : Iam okay dear", end)
print("mama : let's eat together", end)
print("okay ma", end)
#kode diatas salah karena terdapat beberapa kesalahan dalam syntax yaitu pada baris pertama, kedua, keempat, kelima, keenam, dan terakhir dalam fungsi print() tidak diikuti dengan tanda sama dengan dan nilai.

NameError: name 'end' is not defined

In [4]:
#fungsi print digunakan untuk menampilkan percakapan antara "gita" dan "mama". 
#parameter "end" yang diberikan dalam setiap panggilan print digunakan untuk mengatur karakter yang ditampilkan setelah setiap teks dicetak.
print("gita : Hello mama", end ="")
print("mama : Hello dear", end ="")
print("mama : How are you", end ="?")
print("gita : Iam fine mama", end ="")
print("gita : How abou you", end ="?")
print("mama : Iam okay dear", end ="")
print("mama : let's eat together", end ="")
print("okay ma", end ="")
#karakter kosong "" digunakan agar setiap teks yang dicetak tanpa karakter baru atau spasi tambahan.

gita : Hello mamamama : Hello dearmama : How are you?gita : Iam fine mamagita : How abou you?mama : Iam okay dearmama : let's eat togetherokay ma

In [5]:
#fungsi print digunakan untuk menampilkan percakapan antara "gita" dan "mama". 
print("gita : Hello mama")
print("mama : Hello dear")
print("mama : How are you", end ="?")
print("Iam fine mama")
print("gita : How abou you", end ="?")
print("Iam okay dear")
print("mama : let's eat together")
print("gita : okay ma")
#parameter 'end' menentukan karakter yang digunakan untuk mengakhiri teks yang ditampilkan(dalam kode diatas adalah tanda tanya "?")

gita : Hello mama
mama : Hello dear
mama : How are you?Iam fine mama
gita : How abou you?Iam okay dear
mama : let's eat together
gita : okay ma

In [6]:
#fungsi print digunakan untuk menampilkan hasil perhitungan jumlah kemunculan karakter "a" pada kalimat yang disimpan dalam variable "kalimat".
kalimat = "Negara Indonesia adalah negara kepulauan yang terdiri atas pulau - pulau yang dibatasi oleh laut dan selat" 
#'count' dipanggil pada string dengan argumen karakter "a" yang akan menghitung jumlah kemnculan karakter "a" pada string.  
print(kalimat.count("a"))

21

In [7]:
#baris pertama untuk mencetak ucapan selamat ulang tahun. 
print("Hei, Selamat ulang tahun, ya! Semoga kuliahnya diberikan kelancaran dan rezekinya diperbanyak oleh Tuhan")
#baris kedua untuk mencetak tiga baris kosong("\n") adalah karakter khusus yang mempresentasikan baris baru.
print(3 * "\n")
# baris ketiga untuk mencetakan nama penulisnya. 
print("From Melati")

Hei, Selamat ulang tahun, ya! Semoga kuliahnya diberikan kelancaran dan rezekinya diperbanyak oleh Tuhan




From Melati

In [8]:
#nilai variable panjang, lebar, dan tinggi diinsialisasi dengan nilai masing - masing 10,5, dan 4.
panjang = 10 
lebar = 5
tinggi = 4

#fungsi print dipanggil untuk menampilkan ketiga variabel.
print("panjang ruangan adalah", panjang, "meter")
print("Lebar ruangan adalah", lebar, "meter")
print("Tinggi ruangan adalah", tinggi, "meter")

#hasil perhitungan volume dicetak menggunakan fungsi print dengan mengalikan panjang, lebar, dan tinggi.
volume = panjang * lebar * tinggi 
print("Volume ruangan adalah", volume, "meter kubik")

panjang ruangan adalah 10 meter
Lebar ruangan adalah 5 meter
Tinggi ruangan adalah 4 meter
Volume ruangan adalah 200 meter kubik

In [9]:
#nilai variable harga_buku, jumlah_buku, dan diskon diinsialisasi dengan nilai masing - masing 50000, 15, dan 0,1
harga_buku = 50000
jumlah_buku = 15
diskon = 0.1 

#fungsi print dipanggil untuk menampilkan ketiga variabel. 
print("Harga satuan buku: Rp", harga_buku)
print("Jumlah buku yang dibeli: ", jumlah_buku, "buah")
print("Diskon: ", diskon*100, "%")
#hasil perhitungan total harga dicetak menggunakan fungsi print dengan mengalikan harga satuan buku dengan jumlah buku, lalu mengurangi diskon dari total harga tersebut.
print("Total Harga: Rp", (harga_buku*jumlah_buku)*(1-diskon))

Harga satuan buku: Rp 50000
Jumlah buku yang dibeli:  15 buah
Diskon:  10.0 %
Total Harga: Rp 675000.0

In [10]:
#nilai variable nama, umur, dan tinggi diinsialisasi dengan nilai masing - masing krisna, 20, dan 177.
nama = "Krisna"
umur = 20 
tinggi = 177

#fungsi print dipanggil untuk menampilkan ketiga variabel. 
print("Nama:", nama)
print("Umur:", umur)
print("Tinggi:", tinggi, "cm")
#fungsi print dipanggil pada baris terakhir untuk menghitung tahun kelahiran dengan mengurangi umur dari tahun sekara, yaitu 2023 dengan operasi aritmatika.
print("Lahir pada tahun", 2023 - umur)

Nama: Krisna
Umur: 20
Tinggi: 177 cm
Lahir pada tahun 2003

In [11]:
#nilai variable nama1 dan nama2 diinsialisasi dengan masing - masing nama orang yang terlibat dalam percakapan.
nama1 = "Atha"
nama2 = "Andi"

#fungsi print dipanggil untuk menampilkan teks yang merupakan bagian dari percakapan, diikuti oleh tanda ":" dan teks yang merujuk pada orang yang sedang berbicara. 
print(nama1, ": Hi", nama2)
print(nama2, ": Hi", nama1)
#tanda end ="?" dan end ="!" diganti untuk mengganti tanda newline ("\n") dengan tanda ("?") agar pertanyaan dan jawaban dalam percakapan terlihat baik secara format.
print(nama1, ": How are you doing?")
print(nama2, ": I'm doing well, thank you for asking.")
print(nama1, ": That's great to hear!")
print(nama2, ": How about you? How are you doing?")
print(nama1, ": I'm doing well too, thanks for asking.")
print(nama1, ": What have you been up to lately?")
print(nama2, ": I've been busy with work, but otherwise things are good.")
print(nama1, ": That's good to hear. We should catch up more often.")
print(nama2, ": Yeah, definitely. Let's plan on getting together soon.")

Atha : Hi Andi
Andi : Hi Atha
Atha : How are you doing?
Andi : I'm doing well, thank you for asking.
Atha : That's great to hear!
Andi : How about you? How are you doing?
Atha : I'm doing well too, thanks for asking.
Atha : What have you been up to lately?
Andi : I've been busy with work, but otherwise things are good.
Atha : That's good to hear. We should catch up more often.
Andi : Yeah, definitely. Let's plan on getting together soon.

In [12]:
nama_depan = "Deta"
nama_tengah = "Pradnyana"
nama_belakang = "Putra"
umur = 12

#fungsi print dipanggil untuk menampilkan nama lengkap dengan menggabungkan nama_depan, nama_tengah, dan nama_belakang.
print("Nama lengkap: " + nama_depan + " " + nama_tengah + " " + nama_belakang)
#fungsi str digunakan untuk mengubah nilai numerik menjadi string agar bisa dicetak bersamaan dengan teks. 
print("Umur: " + str(umur))

Nama lengkap: Deta Pradnyana Putra
Umur: 12

In [13]:
#menginput panjang dan lebar 
panjang = input('masukkan panjang persegi panjang: ')
lebar = input('masukkan lebar persegi panjang: ')

#menghitung luas persegi panjang dengan fungsi int
luas = int(panjang) * int(lebar)
#hasil luas persegi panjang
print('Luas persegi panjang adalah ' + str(luas))

masukkan panjang persegi panjang: 10
masukkan lebar persegi panjang: 8
Luas persegi panjang adalah 80

In [14]:
#menginput harga_barang dan uang_pembayaran
harga_barang = input('harga barang yang ingin saya beli adalah ')
uang_pembayaran = input('jumlah uang yang saya miliki adalah ')

#menghitung kembalian dengan fungsi int
kembalian = int(uang_pembayaran) - int(harga_barang)
#hasil kembalian yang saya terima adalah 
print('Kembalian yang saya terima adalah ' + str(kembalian))

harga barang yang ingin saya beli adalah 54870
jumlah uang yang saya miliki adalah 100000
Kembalian yang saya terima adalah 45130

In [15]:
#menginput umur, tinggi, dan berat
umur = input('Berapa umur Anda? ')
tinggi = input('Berapa tinggi badan Anda (dalam cm)? ')
berat = input('Berapa berat badan Anda (dalam kg)? ')

#meghitung BMI dengan menggunakan fungsi float
bmi = float(berat) / ((float(tinggi) / 100) ** 2)

#fungsi print menampilkan umur, tinggi, berat dan hasil BMI
print('Umur: ' + umur)
print('Tinggi: ' + tinggi + ' cm')
print('Berat: ' + berat + ' kg')
print('BMI Anda: ' + str(bmi))

Berapa umur Anda? 19
Berapa tinggi badan Anda (dalam cm)? 165
Berapa berat badan Anda (dalam kg)? 49
Umur: 19
Tinggi: 165 cm
Berat: 49 kg
BMI Anda: 17.99816345270891

In [16]:
#mendefinisikan fungsi untuk kalkulasi
def penjumlahan(a, b):
    hasil = int(a) + int(b)
    return hasil

#meminta inputan pengguna
bilangan1 = input("Masukkan bilangan pertama: ")
bilangan2 = input("Masukkan bilangan kedua: ")

#memanggil fungsi penjumlahan
hasil_penjumlahan = penjumlahan(bilangan1, bilangan2)

#cetak hasil penjumlahan
print("Hasil penjumlahan dari", bilangan1, "+", bilangan2, "adalah", hasil_penjumlahan)

Masukkan bilangan pertama: 12
Masukkan bilangan kedua: 26
Hasil penjumlahan dari 12 + 26 adalah 38

In [17]:
#mendefinisikan variabel dengan nilai integer
x = 10

#melakukan konversi tipe data dari string ke integer
umur = int("25")

#melakukan operasi matematika dengan nilai integer
y = x + 5

#membuat fungsi dengan parameter bertipe integer
def kuadrat(angka: int) -> int:
    return angka ** 2

#memanggil fungsi kuadrat dengan argumen bertipe integer
hasil_kuadrat = kuadrat(7)

#mencetak nilai variabel dan hasil operasi matematika
print("x =", x)
print("umur =", umur)
print("y =", y)
print("hasil kuadrat dari 7 =", hasil_kuadrat)

x = 10
umur = 25
y = 15
hasil kuadrat dari 7 = 49

In [18]:
#mendefinisikan variabel dengan nilai float
x = 3.14

#melakukan konversi tipe data dari string ke float
pi = float("3.14159")

#melakukan operasi matematika dengan nilai float
y = x * 2

#membuat fungsi dengan parameter bertipe float
def luas_lingkaran(jari_jari: float) -> float:
    return 3.14 * jari_jari ** 2

#memanggil fungsi luas_lingkaran dengan argumen bertipe float
hasil_luas = luas_lingkaran(1.5)

# Mencetak nilai variabel dan hasil operasi matematika
print("x =", x)
print("pi =", pi)
print("y =", y)
print("hasil luas lingkaran dengan jari-jari 1.5 =", hasil_luas)

x = 3.14
pi = 3.14159
y = 6.28
hasil luas lingkaran dengan jari-jari 1.5 = 7.065

In [19]:
x = True
y = False

#Pada baris pertama, print(x and y) akan menampilkan nilai boolean False karena operasi logika and menghasilkan nilai False jika salah satu variabel bernilai False.
print(x and y)
#Pada baris kedua, print(x or y) akan menampilkan nilai boolean True karena operasi logika or menghasilkan nilai True jika salah satu variabel bernilai True.
print(x or y)
#Pada baris ketiga, print(not x) akan menampilkan nilai boolean False karena operasi logika not akan membalik nilai boolean dari variabel x, yang awalnya True, menjadi False.
print(not x)

False
True
False

In [20]:
angka = 100

#pada baris pertama, print(f"Dalam binary: {angka:b}") akan menampilkan nilai variabel angka dalam bentuk bilangan binary dengan awalan 0b.
print(f"Dalam binary: {angka:b}")
#pada baris kedua, print(f"Dalam octal: {angka:o}") akan menampilkan nilai variabel angka dalam bentuk bilangan octal dengan awalan 0o.
print(f"Dalam octal: {angka:o}")
#ada baris ketiga, print(f"Dalam hexadecimal: {angka:x}") akan menampilkan nilai variabel angka dalam bentuk bilangan hexadecimal dengan awalan 0x.
print(f"Dalam hexadecimal: {angka:x}")

Dalam binary: 1100100
Dalam octal: 144
Dalam hexadecimal: 64

In [21]:
#menginput suhu dalam derajat Celcius
celcius = float(input("Tuliskan Suhu dalam Celcius: "))
 
#menghitung suhu dalam derajat Fahrenheit
fahrenheit = (celcius * 1.8) + 32
 
#menampilkan hasil konversi jarak
print('%0.2f Derajat Celcius sama dengan %0.2f Derajat Fahrenheit' %(celcius,fahrenheit))

Tuliskan Suhu dalam Celcius: 39
39.00 Derajat Celcius sama dengan 102.20 Derajat Fahrenheit

In [22]:
#menginput nilai variabel
x = input('Tuliskan nilai x: ')
y = input('Tuliskan nilai y: ')
 
#membuat variabel tukar dan menukar nilai variabel lain
tukar = x
x = y
y = tukar
 
#menampilkan nilai variabel setelah ditukar
print('Nilai x Setelah Ditukar adalah: {}'.format(x))
print('Nilai y Setelah Ditukar adalah: {}'.format(y))

Tuliskan nilai x: 35
Tuliskan nilai y: 75
Nilai x Setelah Ditukar adalah: 75
Nilai y Setelah Ditukar adalah: 35

In [23]:
#menginput sisi kubus
sisi = float(input('Tulis Sisi Kubus: '))
 
#hitung volume kubus
volume = sisi ** 3
 
#menampilkan hasil perhitungan
print('Volume Kubus adalah %0.2f' %volume)

Tulis Sisi Kubus: 9
Volume Kubus adalah 729.00

In [24]:
#inisialisasi variabel
nama_toko = "Toko Buku Gramedia"
buku = "Filosofi Teras"
harga = 75000
jumlah_beli = 5

#hitung total harga
total_harga = harga * jumlah_beli

#cetak struk pembelian
print("===============================")
print("Struk Pembelian Buku - " + nama_toko)
print("===============================")
print("Nama Buku: " + buku)
print("Jumlah Beli: " + str(jumlah_beli))
print("Harga Satuan: Rp. " + str(harga))
print("Total Harga: Rp. " + str(total_harga))
print("===============================")
print("Terima kasih telah berbelanja di " + nama_toko + "!")

===============================
Struk Pembelian Buku - Toko Buku Gramedia
===============================
Nama Buku: Filosofi Teras
Jumlah Beli: 5
Harga Satuan: Rp. 75000
Total Harga: Rp. 375000
===============================
Terima kasih telah berbelanja di Toko Buku Gramedia!

In [25]:
#inisialisasi variabel
nama_pengirim = "Sitha Ariesta"
nama_penerima = "Made Hernawati"
alamat_pengirim = "Jl. Letda Made Putra No.3"
alamat_penerima = "Jl. Paku Sari XI No.20"
berat_barang = 3.8  # dalam kilogram
ongkos_kirim = 10000 # per kilogram

#hitung total ongkos kirim
total_ongkos_kirim = ongkos_kirim * berat_barang

#cetak detail pengiriman
print("===============================")
print("Detail Pengiriman Barang")
print("===============================")
print("Nama Pengirim: " + nama_pengirim)
print("Nama Penerima: " + nama_penerima)
print("Alamat Pengirim: " + alamat_pengirim)
print("Alamat Penerima: " + alamat_penerima)
print("Berat Barang: " + str(berat_barang) + " kg")
print("Ongkos Kirim: Rp. " + str(ongkos_kirim) + " per kg")
print("Total Ongkos Kirim: Rp. " + str(total_ongkos_kirim))
print("===============================")

===============================
Detail Pengiriman Barang
===============================
Nama Pengirim: Sitha Ariesta
Nama Penerima: Made Hernawati
Alamat Pengirim: Jl. Letda Made Putra No.3
Alamat Penerima: Jl. Paku Sari XI No.20
Berat Barang: 3.8 kg
Ongkos Kirim: Rp. 10000 per kg
Total Ongkos Kirim: Rp. 38000.0
===============================

In [26]:
#tentukan jumlah penjualan yang telah dibuat oleh salesman
sales = float(input("Masukkan jumlah penjualan: "))

#tentukan tingkat komisi
commission_rate = 1.5

#tentukan gaji dasar
basic_salary = 10000

#hitung jumlah komisi
commission = sales * commission_rate

#hitung total gaji
total_salary = basic_salary + commission

#cetak total gaji
print("Total gaji: ", total_salary)

Masukkan jumlah penjualan: 30
Total gaji:  10045.0

In [27]:
#input uang yang dimiliki
uang = int(input("Berapa uang yang Anda miliki? Rp"))

#input harga barang
harga = int(input("Berapa harga barang yang akan Anda beli? Rp"))

#hitung sisa uang
sisa = uang - harga

#cetak hasil
print(f"Sisa uang Anda setelah membeli barang adalah Rp{sisa}")

Berapa uang yang Anda miliki? Rp150000
Berapa harga barang yang akan Anda beli? Rp105675
Sisa uang Anda setelah membeli barang adalah Rp44325

In [28]:
#mendefinisikan variabel untuk menyimpan gaji per jam
gaji_per_jam = 20000

#mendefinisikan variabel untuk menyimpan jumlah jam kerja dalam sebulan
jam_kerja_per_bulan = 160

#mendefinisikan variabel untuk menyimpan jumlah bonus
bonus = 50000

#menghitung total gaji dengan menjumlahkan gaji per jam dengan jumlah jam kerja dalam sebulan kemudian ditambah dengan bonus
total_gaji = gaji_per_jam * jam_kerja_per_bulan + bonus

#menampilkan total gaji
print("Total gaji:", total_gaji)

Total gaji: 3250000

In [29]:
#inisialisasi variabel
x = 10
y = 5
addition = x + y
subtraction = x - y
multiplication = x * y
division = x / y

#fungsi print menampilkan hasil addition dikali division dan hasil subtraction ditambah multiplication
print(addition x divison)
print(subtraction + multiplication)
#kode diatas error karena terdapat kesalahan pada baris ketujuh yaitu penggunaan lambang kali yang salah, seharusnya menggunakan (*)

SyntaxError: invalid syntax (3792041056.py, line 7)

In [30]:
#inisialisasi variabel
x = 10
y = 5
addition = x + y
subtraction = x - y
multiplication = x * y
division = x / y

#fungsi print menampilkan hasil addition dikali division dan hasil subtraction ditambah multiplication
print(addition * divison)
print(subtraction + multiplication)
#kode diatas salah karena terdapat kesalahan penulisan pada kalimat division, seharusnya division bukan divison

NameError: name 'divison' is not defined

In [31]:
#inisialisasi variabel
x = 10
y = 5
addition = x + y
subtraction = x - y
multiplication = x * y
division = x / y

#fungsi print menampilkan hasil addition dikali division dan hasil subtraction ditambah multiplication
print(addition + subtraction)
print(multiplication * division)

20
100.0

In [32]:
nama = "Made Wirayanti"

#fungsi print digunakan untuk menampilkan abjad yang berada pada urutan ke 0, 4, dan 6
print(nama[0]) 
print(nama[4]) 
print(nama{6})
#kode diatas salah karena pada baris ke 4 yaitu print(nama{6}) menggunakan {},seharusnya menggunakan []

SyntaxError: invalid syntax (3447221988.py, line 4)

In [33]:
nama = "Made Wirayanti"

#fungsi print digunakan untuk menampilkan abjad yang berada pada urutan ke 0, 4, dan 6
print(nama[0]) 
print(nama[4]) 
print(nama[6])
#mengapa print(nama[4]) tidak muncuL? ya sekarang saya tau karena tidak ada abjad pada urutan ke-4

M

i

In [34]:
nama = "Made Wirayanti"

#fungsi print digunakan untuk menampilkan abjad yang berada pada urutan ke 1, 3, 6, dan 8
print(nama[1]) 
print(nama[3]) 
print(nama[6])
print(nama[8])

a
e
i
a

In [35]:
#inisialisasi variabel
nama1 = "aisyana"
nama2 = "adiva"

#fungsi print mengganti variabel menjadi huruf kapital dan huruf kecil
print(nama1.upper()) 
print(nama2.lower())

AISYANA
adiva